<!-- Header -->
<header id="head-01">
  <div class="head-logo">
    <img style="height: 120px; width: 150px;" src="assets/cmclogo.png" alt="">
  </div>
  <div class="head">
    <p id="title" style="font-size: 2rem;color: beige; font-weight: bold;margin-top: 30px;">
      C<span>.</span>M<span>.</span>C
      EDUCATIONAL SCHOOL</p>
  </div>
</header>
<br>

<app-books-page></app-books-page>

<br>

<footer id="head-02">
  <div class="head-02">
    <div class="contents" style="margin-top: 50px; font-size: 23px;">
      <a style="color: aliceblue;"> Contanct us</a> <span style="color: aliceblue;"> | </span>
      <a style="color: aliceblue;"> Privacy Policy</a> <span style="color: aliceblue;"> | </span>
      <a style="color: aliceblue;"> Terms of Service</a>
    </div>
  </div>
</footer>